.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointerEvents: none;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    objectFit: cover;
}

.container {
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #000;
}   